[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dataframeexplorer"]
	path = dataframeexplorer
	url = https://github.com/cran/dataframeexplorer
